@import '../../../styles/app';

.card {
  padding: 2vh 5vw;
  align-items: center;
  width: 100%;
  &__carousel {
    width: 100%;
    margin-bottom: 20px;
  }
  &__body {
    width: 100%;
    padding: 1vh 0;
    &--link {
      width: 100%;
      justify-content: space-evenly;
    }
  }
}

@include respond-below(phone) {
  .card {
    padding: 0 0 35px 0;
    &__carousel {
      width: 100%;
    }
    &__body {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@include respond-between(phone, tablet) {
  .card {
    &__carousel {
      width: 100%;
      overflow-x: hidden;
    }
    &__body {
      width: 100%;
    }
  }
}
