@import '../../styles/app';

.rooms {
  &__header {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}
.rooms__accessible {
  justify-content: space-evenly;
  align-items: center;
  &--body {
    width: 37.5%;
    align-items: center;
  }
}
.room__cards {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  .room__card {
    width: 50%;
  }
}

@include respond-below(phone) {
  .rooms {
    &__header {
      width: 95%;
    }
  }
  .rooms__accessible {
    &--body {
      width: 100%;
    }
  }
  .room__cards .room__card {
    width: 100%;
  }
}

@include respond-between(phone, tablet) {
  .rooms {
    &__header {
      width: 85%;
    }
  }
  .rooms__accessible {
    &--body {
      width: 80%;
    }
  }
  .room__cards .room__card {
    width: 90%;
  }
}

@include respond-between(tablet, tablet-lg) {
  .rooms {
    &__header {
      width: 77.5%;
    }
  }
  .rooms__accessible {
    &--body {
      width: 77.5%;
    }
  }
  .room__cards .room__card {
    width: 90%;
  }
}

@include respond-between(tablet-lg, desktop) {
  .rooms {
    &__header {
      width: 77.5%;
    }
  }
  .rooms__accessible {
    &--body {
      width: 47.5%;
    }
  }
}
