@import '../../../styles/app';

form {
  width: 100%;
  align-items: flex-start;
  h2 {
    font-size: 1.8rem;
    line-height: 4.5rem;
    text-align: start;
  }
  a:visited {
    color: #3d405b;
  }
}
.header p {
  width: 70%;
}
.body {
  width: 50%;
}
.content {
  &--first, &--second, &--third, &--fourth, &--fifth, &--sixth {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.radio-input-group {
  align-items: center;
}
.center {
  align-items: center;
}

@include respond-below(phone) {
  .header {
    width: 100%;
    p {
      width: 100%;
    }
  }
  .body {
    width: 100%;
  }
  .radio-input-group {
    flex-direction: column;
    align-items: flex-start;
  }
}

@include respond-between(phone, tablet) {
  .header {
    width: 100%;
    p {
      width: 100%;
    }
  }
  .body {
    width: 100%;
  }
  .radio-input-group {
    flex-direction: column;
    align-items: flex-start;
  }
}

@include respond-between(tablet, tablet-lg) {
  .header {
    width: 100%;
    p {
      width: 80%;
    }
  }
  .body {
    width: 85%;
  }
}
