@import '../../../styles/app';

form {
  width: 100%;
  align-items: flex-start;
  a:visited {
    color: #3d405b;
  }
}
.header {
  padding-bottom: 25px;
  p {
    width: 70%;
  }
}
.body {
  width: 100%;
}
.content {
  margin-top: 20px;
  margin-bottom: 10px;
}

@include respond-below(tablet) {
  .header p {
    width: 100%;
  }
}

@include respond-between(tablet, tablet-lg) {
  .header p {
    width: 95%;
  }
}
