@import "src/styles/app";
.row {
  padding: 7.5px 0;
  align-items: center;
  max-width: 100%;
  span {
    flex-basis: 25%;
    text-align: start;
    font-size: 1.3rem;
    font-weight: 600;
  }
  p {
    flex-basis: 70%;
    word-wrap: anywhere;
    text-align: start;
    font-size: 1.2rem;
    font-weight: 300;
  }
}
span {
  font-size: 1.3rem;
  font-weight: 600;
}

@include respond-below(tablet-lg) {
  .row {
    span, p {
      flex-basis: 100%;
    }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
