@import '../../styles/app';

.header {
  padding: 5vh 5vw;
  & p {
    width: 60%;
  }
}
.body {
  padding: 5vh 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@include respond-below(desktop) {
  .header p {
    width: 100%;
  }
}
