@import '../../../../styles/app';

.careers {
  position: relative;
  &__header {
    align-items: center;
    p {
      width: 65%;
    }
  }
  &__context {
    &--first, &--second {
      justify-content: space-around;
      padding: 5vh 0;
    }
    &--first {
      flex-direction: row-reverse;
    }
    &--first div:nth-of-type(2), &--second div:nth-of-type(2) {
      width: 40%;
    }
    &--third {
      align-items: center;
      padding: 5vh 0;
    }
  }
}

@include respond-below(phone) {
  .careers__context--first, .careers__context--second {
    div:nth-of-type(2) {
      width: 100%;
    }
  }
  .careers__header {
    p {
      width: 85%;
    }
  }
}

@include respond-between(phone, tablet) {
  .careers__context--first, .careers__context--second {
    div:nth-of-type(2) {
      width: 100%;
    }
  }
  .careers__header {
    p {
      width: 85%;
    }
  }
}

@include respond-between(tablet, tablet-lg) {
  .careers__context--first, .careers__context--second {
    div:nth-of-type(2) {
      width: 100%;
      margin: 0 auto;
    }
  }
  .careers__header {
    p {
      width: 90%;
    }
  }
}
