.sidebar {
  width: 30%;
  height: fit-content;
  position: sticky;
  top: 20px;
  & a {
    &:visited {
      color: #3d405b;
    }
  }
  .side__body {
    padding: 10px 15px 25px 15px;
    height: 85%;
    background-color: #ffffff;
    justify-content: space-between;
    h4 {
      font-size: 1.6rem;
      font-weight: 600;
      text-align: start;
    }
    a {
      &:visited {
        color: #3d405b;
      }
    }
  }
  .side__content {
    &--row {
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      & span {
        font-weight: 600;
        line-height: 1.4rem;
      }
      & p {
        font-size: 1.1rem;
      }
    }
    &--action {
      text-decoration: underline;
      padding-top: 20px;
      & span {
        margin: 0 5px;
      }
    }
  }
}
.side__button {
  & button {
    margin: 20px auto;
    padding: 12px 12px;
    font-size: 1.1rem;
    border: none;
    background-color: #283845;
    color: #ffffff;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}
.list-items {
  list-style-type: none;
  padding-left: 20px;
}
.list-item {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
/deep/ .el-divider--horizontal {
  margin: 10px 0;
}
