@import '../../../../styles/app';

.faq {
  .page-wrapper {
    align-items: center;
    justify-content: space-evenly;
  }
  &__body {
    width: 40%;
    height: 80vh;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scroll bar for IE browser */
    -ms-overflow-style: none;
    /* Hide scroll bar for firefox */
    scrollbar-width: none;
  }
  &__header {
    padding-bottom: 30px;
  }
  &__content {
    width: 100%;
  }
  &__image {
    width: 50%;
    height: auto;
    & img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

@include respond-below(phone) {
  .faq {
    .page-wrapper {
      flex-direction: column-reverse;
    }
    &__image {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
    &__body {
      width: 100%;
      height: auto;
    }
  }
}

@include respond-between(phone, tablet-lg) {
  .faq {
    .page-wrapper {
      flex-direction: column-reverse;
    }
    &__image {
      width: 80%;
      height: auto;
      margin-bottom: 30px;
    }
    &__body {
      width: 100%;
      height: auto;
    }
  }
}
