.price__content {
  padding: 10px 15px;
  &--row {
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    & span {
      font-weight: 600;
      line-height: 1.4rem;
    }
    & p {
      font-size: 1.1rem;
    }
  }
}
/deep/ .el-divider--horizontal {
  margin: 7.5px auto;
  width: 95%;
}
