@import "src/styles/app";
.guest-details {
  &__content {
    padding: 15px 20px;
    border: 1px solid #3d405b;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 10px auto;
    h4 {
      padding: 10px 0;
    }
  }
}
.information {
  &--contact, &--address {
    width: 100%;
    div:nth-of-type(1) {
      flex-wrap: wrap;
    }
  }
  &--note {
    width: 100%;
    textarea {
      width: 100%;
      outline: none;
    }
  }
  &--payment {
    width: 100%;
    div:nth-of-type(2) {
      flex-wrap: wrap;
      .input__text {
        flex-basis: 50%;
      }
    }
  }
}
.form--col {
  padding: 0 15px;
  align-items: center;
  label {
    font-weight: 400;
  }
}
.button {
  justify-content: center;
}

@include respond-below(phone) {
  .form--col {
    padding: 2.5px 5px;
  }
}
