@import '../../styles/app';

.wellness {
  .body {
    justify-content: space-evenly;
    margin-bottom: 20vh;
    .content {
      width: 40%;
      p {
        line-height: 2rem;
      }
    }
  }
  .notice {
    h2 {
      text-align: center;
    }
    .content {
      width: 70%;
      margin: 0 auto;
    }
  }
}

@include respond-below(phone) {
  .wellness {
    .body {
      .content {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}

@include respond-between(phone, tablet-lg) {
  .wellness {
    .body {
      .content {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
