@import './media-queries';

body {
  background-color: #f4f1de;
}
h1, h2, h4, h5, label {
  font-family: 'Merriweather', serif;
}
p, span, a, button, li, input {
  font-family: 'Raleway', sans-serif;
}

label {
  text-align: start;
}

b {
  font-weight: 700;
}
