@import '../../../../styles/app';

.contact {
  &__content {
    width: 40%;
    height: auto;
    margin: 0 auto;
    text-wrap: normal;
    text-align: start;
  }
  &__form {
    align-items: flex-start;
    padding: 0 5vw;
    form {
      label {
        font-size: 1.3rem;
        width: 200px;
        padding: 10px 0;
      }
      input {
        border: none;
        border-bottom: 1px solid rgba(61, 64, 91, 0.3);
        background-color: transparent;
        width: 300px;
        font-size: 1.2rem;
        margin: 5px 0;
      }
      select {
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.1;
        width: 300px;
        padding: 2px 15px;
        max-width: 100%;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid rgba(61, 64, 91, 0.3);
        background-color: transparent;
      }
      textarea {
        border: none;
        border-bottom: 1px solid rgba(61, 64, 91, 0.3);
        resize: none;
        width: 65%;
        background-color: transparent;
        font-size: 1.2rem;
      }
      label[for="consent"] {
        width: 100%;
      }
      input[type=checkbox] {
        width: 20px;
        margin: 0 auto;
      }
    }
  }
}
.mapouter {
  position:relative;
  text-align:right;
  height:400px;
  width:800px;
  margin: 0 auto;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:100%;
  width:100%;
}
.alert-message {
  flex-basis: 100%;
  text-align: start;
  color: darkred;
  margin-top: 5px;
  font-size: 1.1rem;
}

@include respond-below(phone) {
  .image-fluid {
    display: none
  }
  .contact__content {
    width: 100%;
  }
  .mapouter {
    width: 100%;
    height: 320px;
  }
  .contact__form form{
    input, textarea, select {
      width: 100%;
    }
  }
}

@include respond-between(phone, tablet) {
  .contact__content {
    width: 85%;
    margin-bottom: 20px;
  }
  .mapouter {
    width: 100%;
    height: 320px;
  }
  .contact__form form{
    input, textarea, select {
      width: 100%;
    }
  }
}

@include respond-between(tablet, tablet-lg) {
  .contact__content {
    width: 45%;
  }
  .mapouter {
    width: 100%;
    height: 320px;
  }
}
