@import '../../../../styles/app';

.contact {
  &__content {
    width: 40%;
    height: auto;
    margin: 0 auto;
    text-wrap: normal;
    text-align: start;
  }
  &__form {
    align-items: flex-start;
    padding: 0 5vw;
  }
}
.mapouter {
  position:relative;
  text-align:right;
  height:400px;
  width:800px;
  margin: 0 auto;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:100%;
  width:100%;
}

@include respond-below(phone) {
  .image-fluid {
    display: none
  }
  .contact__content {
    width: 100%;
  }
  .mapouter {
    width: 100%;
    height: 320px;
  }
}

@include respond-between(phone, tablet) {
  .contact__content {
    width: 85%;
    margin-bottom: 20px;
  }
  .mapouter {
    width: 100%;
    height: 320px;
  }
}

@include respond-between(tablet, tablet-lg) {
  .contact__content {
    width: 45%;
  }
  .mapouter {
    width: 100%;
    height: 320px;
  }
}

@include ipad-pro-portrait(ipadpro-md-w, ipadpro-md-w) {
  .contact__content {
    width: 40%;
  }
  .image-fluid.xl {
    width: 55%;
  }
}

@include ipad-pro-portrait(ipadpro-lg-w, ipadpro-lg-w) {
  .contact__content {
    width: 40%;
  }
  .image-fluid.xl {
    width: 55%;
  }
}
