@import '../../../styles/app';

.overlay {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  &__background {
    width: 100%;
    height: 100%;
    position: relative;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #202c39;
      background: no-repeat center center fixed url("../../../assets/images/background/menu-img.jpg");
      background-size: cover;
      position: absolute;
      z-index: 11;
      top: 0;
      left: 0;
      //filter: opacity(0.8);
      //filter: contrast(35%);
      filter: contrast(25%) blur(1.3px) grayscale(0.1);
    }
  }
  &__half-background {
    z-index: 12;
    width: 42.5%;
    height: 100%;
    background-color: #202c39;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__body {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    z-index: 13;
    padding: 20px 5vw;
    .icon {
      width: 110px;
      height: 110px;
      & figure {
        align-items: center;
      }
      &:hover {
        cursor: pointer;
      }
      .icon-color {
        fill: #ffffff;
      }
    }
  }
  &__content {
    &--first {
      flex-basis: 15%;
      position: relative;
    }
    &--second {
      flex-basis: 70%;
      padding: 0 2.5vw;
      justify-content: center;
      width: 100%;
      position: relative;
      & ul {
        list-style-type: none;
        & li {
          color: #ffffff;
          font-size: 2rem;
          font-weight: 700;
          text-align: start;
          line-height: 3.5rem;
          & a {
            text-decoration: none;
            &:visited {
              color: #ffffff;
            }
          }
          svg {
            fill: #ffffff;
            width: 20px;
            height: 20px;
            margin-right: 7.5px;
          }
        }
      }
    }
  }
  &__footer {
    flex-direction: row-reverse;
    flex-basis: 15%;
    position: relative;
    width: 100%;
    .content {
      align-items: flex-start;
      & h5, p, a {
        color: #ffffff;
      }
      & a:visited {
        color: #ffffff;
      }
      & h5 {
        font-size: 1rem;
      }
      & p, a {
        font-size: 1.1rem;
      }
    }
  }
}
.links {
  flex-direction: row-reverse;
  width: 100%;
  padding-left: 30px;
  .link {
    width: 85%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.display-menu {
  width: 100%;
  height: 100%;
}

@include respond-below(phone) {
  .overlay__half-background {
    width: 100%;
    overflow: hidden;
  }
  .overlay__content--first {
    height: 10vh;
    flex-basis: unset;
  }
  .overlay__footer {
    align-items: center;
    margin-top: 30px;
    & p {
      text-align: start;
    }
  }
  .links .link {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    & ul li {
      font-size: 1.5rem;
      line-height: 2.1rem;
    }
  }
}

@include respond-between(phone, tablet) {
  .overlay__half-background {
    width: 100%;
    overflow: hidden;
  }
  .overlay__content--first {
    height: 10vh;
    flex-basis: unset;
  }
  .overlay__footer {
    align-items: center;
    margin-top: 30px;
    & p {
      text-align: start;
    }
  }
  .links .link {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15vw;
    & ul li {
      font-size: 1.7rem;
      line-height: 2.3rem;
    }
  }
}

@include respond-between(tablet, tablet-lg) {
  .overlay__half-background {
    width: 100%;
  }
}
