@import '../../../../src/styles/app';

.room {
  width: 100%;
  margin: 12.5px 0;
  background-color: #ffffff;
  padding: 15px;
  .col-1 {
    flex-basis: 35%;
    & img {
      width: 100%;
    }
  }
  .col-2 {
    flex-basis: 65%;
    padding: 0 10px;
  }
  &--introduction {
    text-align: start;
    & h4 {
      font-size: 1.4rem;
    }
    & h5 {
      font-size: 1rem;
      padding: 5px 0;
    }
    & span {
      padding-top: 10px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  & span {
    font-size: 1.2rem;
  }
  & p {
    font-size: 1.1rem;
  }
}
/deep/ .el-divider--horizontal {
  margin: 12.5px 0;
}

@include respond-below(tablet) {
  .room {
    div:first-of-type {
      flex-direction: column;
    }
    .col-1 {
      width: 90%;
      margin: 20px auto;
    }
    &--introduction {
      text-align: start;
      & h4 {
        font-size: 1.25rem;
      }
      & h5 {
        font-size: 1rem;
        padding: 5px 0;
      }
    }
  }
}
