@import "src/styles/app";

.activity {
  position: relative;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  height: auto;
  &-container {
    padding: 5vh 5vw 0 5vw;
    flex-grow: 1;
    align-items: stretch;
  }
  &-content {
    align-items: center;
    justify-content: space-between;
  }
  &-items-wrapper {
    height: auto;
    padding: 0 3%;
    margin-top: 10px;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    ul {
      list-style: none;
      padding: 10px 0 10px 0;
    }
  }
}
.filter {
  align-items: center;
  label {
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: start;
    margin-right: 10px;
  }
  &-select {
    align-items: center;
  }
}
.buttons {
  button {
    margin: 0 10px;
    border: none;
    background-color: #202c39;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 7px 20px;
    border-radius: 10px;
    width: 125px;
    outline: none;
    &:hover {
      cursor: pointer;
      background-color: #ffffff;
      color: #202c39;
    }
  }
}

/deep/ .el-divider--horizontal {
  margin: 7.5px 0;
}

@include respond-below(phone) {
  .filter {
    margin-bottom: 20px;
    margin-top: 10px;
    flex-basis: 100%;
    justify-content: center;
    &-select {
      flex-direction: column;
    }
  }
  .buttons {
    flex-basis: 100%;
    justify-content: space-evenly;
    button {
      font-size: 1.1rem;
      width: 115px;
    }
  }
}

@include respond-between(phone, tablet) {
  .activity {
    &-content {
      justify-content: flex-start;
    }
  }
  .filter {
    margin-bottom: 20px;
    margin-top: 10px;
    &-select {
      flex-direction: column;
    }
  }
  .buttons {
    flex-direction: column;
    margin-left: 15px;
    button {
      font-size: 1.1rem;
      width: 115px;
      margin: 2.5px 0;
    }
  }
}

@include respond-between(tablet, tablet-lg) {
  .activity {
    &-content {
      justify-content: flex-start;
    }
  }
  .filter {
    margin-bottom: 20px;
    margin-top: 10px;
    &-select {
      flex-direction: column;
    }
  }
  .buttons {
    flex-direction: column;
    margin-left: 15px;
    button {
      margin: 2.5px 0;
    }
  }
}
