.room {
  width: 100%;
  .col-1 {
    flex-basis: 30%;
    & img {
      width: 100%;
    }
  }
  .col-2 {
    flex-basis: 70%;
    padding: 0 10px;
  }
  &--introduction {
    text-align: start;
    & h5 {
      font-size: 1rem;
      padding: 5px 0;
    }
    & span {
      padding-top: 10px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &--best-rate, &--breakfast-package {
    justify-content: space-between;
    & div:nth-of-type(1) {
      text-align: start;
      & span {
        font-size: 1.3rem;
      }
    }
    & div:nth-of-type(2) {
      text-align: right;
      & span {
        font-size: 1.5rem;
        font-weight: 600;
      }
      & p {
        font-size: 0.9rem;
      }
      & button {
        margin-top: 12px;
        padding: 7px 10px;
        font-size: 1.1rem;
        border: none;
        background-color: #283845;
        color: #ffffff;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  & span {
    font-size: 1.2rem;
  }
  & p {
    font-size: 1.1rem;
  }
}
