@import '../../../../styles/app';

.pet-friendly {
  &__content {
    width: 40%;
    height: auto;
    //margin: 0 50px;
  }
  &__body {
    &--first {
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 20vh;
    }
    &--second {
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 20vh;
    }
    &--third {
      width: 100%;
      align-items: center;
      ul {
        width: 80%;
        list-style-type: square;
      }
    }
  }
}

@include respond-below(phone) {
  .pet-friendly {
    &__content {
      width: 100%;
    }
    &__body {
      &--second {
        flex-direction: column-reverse;
      }
      &--third ul {
        width: 100%;
      }
    }
  }
}

@include respond-between(phone, tablet) {
  .pet-friendly {
    &__content {
      width: 90%;
    }
    &__body {
      &--second {
        flex-direction: column-reverse;
      }
      &--third ul {
        width: 90%;
      }
    }
  }
}

@include respond-between(tablet, tablet-lg) {
  .pet-friendly {
    &__content {
      width: 80%;
    }
    &__body {
      &--second {
        flex-direction: column-reverse;
      }
      &--third ul {
        width: 90%;
      }
    }
  }
}

@include respond-between(tablet-lg, desktop) {
  .pet-friendly {
    &__content {
      width: 47.5%;
    }
    &__body {
      &--first, &--second {
        justify-content: space-between;
      }
    }
  }
}
