@import '../../styles/app';

.collapse {
  width: 90%;
  text-align: start;
  text-wrap: normal;
  &__header {
    cursor: pointer;
    padding: 2px 0 4px 0;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    & span {
      flex-basis: 90%;
      font-size: 1.3rem;
      font-weight: 600;
    }
    & img {
      flex-basis: 10%;
      transition: .4s ease all;
    }
  }
  &__body {
    transition: 0.4s ease all;
    max-height: 20rem;
    overflow: hidden;
  }
}
.is-closed .collapse__body {
  transition: .4s ease all;
  height: 0;
}
.is-rotated {
  transform: rotate(45deg);
  transition: 0.4s ease all;
}
.is-shown {
  transition: .4s ease all;
  border-left: 3px solid #2c3e50;
  padding-left: 15px;
}

@include respond-below(phone) {
  .collapse {
    width: 100%;
  }
}
