@import "../../../styles/app";

.alert--modification {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  background-color: #ffffff;
  border: 1px solid #3d405b;
  border-radius: 5px;
  padding: 20px 10px;
  svg {
    width: 45px;
    height:45px;
    margin-right: 20px;
  }
  .btn-solid-md {
    margin-top: 0;
  }
}
.alert__content {
  align-items: flex-start;
  span {
    font-size: 1.2rem;
    font-weight: 600;
  }
  p {
    font-size: 1.1rem;
    overflow-wrap: break-word;
  }
}

@include respond-below(tablet) {
  .alert--modification {
    svg {
      flex-basis: 10%;
      width: 36px;
      height: 36px;
    }
  }
  .alert__content {
    flex-basis: 77.5%;
    text-align: start;
    margin-bottom: 20px;
  }
}
