@import '../../../styles/app';

.room-details {
  width: 100%;
  position: relative;
  &__container {
    width: 100%;
    position: relative;
    padding: 20px 0 50px 0;
  }
  &__body {
    &--first, &--second {
      margin-bottom: 20vh;
      width: 100%;
      padding: 0 5vw;
    }
    &--first {
      justify-content: space-evenly;
    }
    &--third {
      height: 100vh;
      margin-bottom: 20vh;
    }
    &--fourth {
      padding: 0 5vw;
      width: 100%;
    }
  }
  &__content {
    &--first {
      width: 35%;
    }
    &--second {
      width: 87.5%;
      margin: 0 auto;
      border: 1px solid #3d405b;
      border-radius: 5px;
      padding: 20px 20px 20px 50px;
      ul {
        columns: 3;
        text-align: start;
        padding: 0 10px;
        list-style-type: square;
        li {
          font-size: 1.3rem;
          line-height: 2.5rem;
        }
      }
    }
    &--third {
      width: 100%;
      height: 100%;
      padding: 0;
      overflow: hidden;
    }
    &--fourth {
      width: 100%;
      align-items: center;
    }
  }
}
.room-cards {
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 40px;
  .room-card {
    width: 50%;
  }
}

@include respond-below(phone) {
  .room-details {
    &__content {
      &--first {
        width: 90%;
      }
      &--second {
        width: 100%;
        padding: 5px 15px;
        ul {
          columns: 1;
          padding: 10px 0 10px 20px;
          li {
            line-height: 2rem;
          }
        }
      }
    }
    &__body--first, &__body--second {
      margin-bottom: 10vh;
    }
    &__body--third {
      display: none;
    }
    &__body--fourth {
      padding: 0;
    }
  }
  .room__cards {
    margin-top: 0;
    .room__card {
      width: 100%;
    }
  }
}

@include respond-between(phone, tablet) {
   .room-details {
     &__content {
       &--first {
         width: 85%;
       }
       &--second {
         width: 100%;
         padding: 5px 15px;
         ul {
           columns: 2;
           padding: 10px 0 10px 20px;
           li {
             line-height: 2.2rem;
           }
         }
       }
     }
     &__body--first, &__body--second {
       margin-bottom: 10vh;
     }
     &__body--third {
       display: none;
     }
   }
   .room__cards {
     margin-top: 0;
     .room__card {
       width: 90%;
       margin: 0 auto;
     }
   }
 }

@include respond-between(tablet, tablet-lg) {
  .room-details {
    &__content {
      &--first {
        width: 80%;
      }
      &--second {
        width: 100%;
        ul {
          columns: 2;
          padding: 0 0 0 10px;
          li {
            line-height: 2.4rem;
          }
        }
      }
    }
    &__body--first, &__body--second, &__body--third {
      height: auto;
      margin-bottom: 10vh;
    }
  }
  .room__cards .room__card {
      width: 85%;
      margin: 0 auto;
  }
}

@include respond-between(tablet-lg, desktop) {
  .room-details {
    &__content--second {
      width: 80%;
      ul {
        columns: 2;
        padding: 0 0 0 10px;
        li {
          line-height: 2.6rem;
        }
      }
    }
  }
  .room__cards .room__card {
    width: 50%;
  }
}

@include respond-above(desktop) {
  .room__cards .room__card {
    width: 50%;
  }
}
