@import '../../styles/app';

.about {
  .body {
    justify-content: space-evenly;
    padding: 10vh 0;
    width: 100%;
    height: auto;
    .content {
      width: 40%;
    }
  }
  .reverse {
    flex-direction: row-reverse;
  }
}

@include respond-below(phone) {
  .about {
    .body {
      padding: 5vh 0;
      .content {
        width: 100%;
      }
    }
  }
}

@include respond-between(phone, tablet-lg) {
  .about {
    .body {
      padding: 2.5vh 0;
      .content {
        width: 80%;
      }
    }
  }
}
