@import '../../styles/app';

.about {
  .body {
    justify-content: space-evenly;
    padding-bottom: 15vh;
    width: 100%;
    height: auto;
    .content {
      width: 40%;
    }
  }
  .reverse {
    flex-direction: row-reverse;
  }
}

@include respond-below(phone) {
  .about {
    .body {
      .content {
        width: 100%;
      }
    }
  }
}

@include respond-between(phone, tablet-lg) {
  .about {
    .body {
      .content {
        width: 80%;
      }
    }
  }
}
