.events {
  width: 100%;
  position: relative;
  padding: 25vh 0 0 0;
  &__body {
    &--first, &--second, &--third, &--fourth, &--fifth {
      padding: 0 5vw;
      height: 100vh;
      & button {
        margin: 35px auto;
        padding: 10px 30px;
        background-color: transparent;
        border: 2px solid #3d405b;
        border-radius: 5px;
        & a {
          font-family: inherit;
          font-weight: 400;
          font-size: 1rem;
          color: #3d405b;
          text-decoration: none;
          &:visited {
            color: #3d405b;
          }
        }
        &:hover {
          background-color: #3d405b;
          cursor: pointer;
          & a {
            color: #ffffff;
          }
        }
      }
    }
    &--fourth {
      padding: 0;
    }
    &--fifth {
      padding: 0 10vw;
    }
  }
  &__content {
    width: 40%;
    height: 100%;
    margin: 0 50px;
    & ul {
      & li {
        text-align: start;
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }
  }
  &--image {
    width: 500px;
    height: 500px;
    & img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }
}
