@import '../../styles/app';

.events {
  padding: 0 0 50px 0;
  &__body {
    &--first, &--second, &--third, &--fourth, &--fifth {
      margin-bottom: 10vh;
      height: auto;
    }
    &--first, &--second, &--third, &--fifth {
      justify-content: space-evenly;
      padding: 5vh 0;
    }
    &--fourth {
      padding: 0;
      overflow: hidden;
    }
    &--fifth {
      justify-content: space-evenly;
      align-items: center;
    }
  }
  &__content {
    width: 40%;
    height: 100%;
  }
}

@include respond-below(phone) {
  .events {
    &__body {
      &--first, &--second, &--third {
        flex-direction: column-reverse;
        align-items: center;
      }
      &--fifth {
        margin-bottom: 0;
      }
    }
    &__content {
      width: 85%;
    }
  }
}

@include respond-between(phone, tablet) {
  .events {
    &__body {
      &--first, &--second, &--third {
        flex-direction: column-reverse;
        align-items: center;
      }
      &--fifth {
        margin-bottom: 0;
      }
    }
    &__content {
      width: 80%;
    }
  }
}

@include respond-between(tablet, tablet-lg) {
  .events {
    &__body {
      &--first, &--second, &--third {
        flex-direction: column-reverse;
        align-items: center;
      }
      &--fifth {
        margin-bottom: 0;
      }
    }
    &__content {
      width: 75%;
    }
  }
}

@include respond-above(tablet-lg) {
  .events {
    &__body {
      &--first, &--second, &--third, &--fifth {
        padding: 5vh 7.5vw;
      }
    }
  }
}
