@import '../../styles/app';

.wedding {
  position: relative;
  padding: 20px 0 50px 0;
  &__body {
    &--first, &--second, &--fourth, &--fifth, &--sixth {
      padding: 0 7.5vw 20vh 7.5vw;
    }
    &--first, &--second, &--fifth {
      justify-content: space-evenly;
      .content {
        width: 40%;
        .image {
          width: 90%;
          margin-bottom: 20px;
        }
      }
    }
    &--third {
      padding: 0;
      height: 100vh;
      overflow: hidden;
    }
    &--fourth {
      padding-top: 20vh;
    }
    &--fifth {
      align-items: flex-start;
    }
    &--sixth {
      padding: 10vh 5vw 20vh 5vw;
      p {
        width: 80%;
      }
      .page__subtitle {
        text-align: center;
      }
    }
  }
}

.lists {
  width: 80%;
  overflow-y: scroll;
  border: 1px solid rgba(61, 64, 91, 0.3);
  border-radius: 5px;
  padding: 35px 15px;
  ul {
    columns: 3;
    li {
      text-align: start;
      font-size: 1.3rem;
      line-height: 2.6rem;
    }
  }
  h2 {
    text-align: center;
  }
}

.links a {
  margin: 0 15px;
}

@include respond-below(phone) {
  .wedding {
    &__body {
      &--first, &--second {
        flex-direction: column-reverse;
        align-items: center;
        .content {
          width: 90%;
        }
      }
      &--third {
        height: auto;
      }
      &--fourth {
        padding-top: 20vh;
      }
      &--fifth {
        padding-bottom: 0;
        .content {
          width: 95%;
          margin-bottom: 30px;
        }
      }
      &--sixth {
        .links {
          flex-direction: column;
        }
      }
    }
  }
  .lists {
    width: 97.5%;
    padding: 5px;
    ul {
      columns: 1;
      padding-bottom: 15px;
      padding-left: 30px;
    }
  }
}

@include respond-between(phone, tablet) {
  .wedding {
    &__body {
      &--first, &--second {
        flex-direction: column-reverse;
        align-items: center;
        .content {
          width: 87.5%;
        }
      }
      &--third {
        height: auto;
      }
      &--fourth {
        padding-top: 20vh;
      }
      &--fifth {
        padding-bottom: 0;
        .content {
          align-items: center;
          width: 95%;
          margin-bottom: 30px;
          p {
            width: 80%;
            margin: 0 auto;
          }
        }
      }
      &--sixth {
        .links {
          flex-direction: column;
        }
      }
    }
  }
  .lists {
    width: 97.5%;
    padding: 5px;
    ul {
      columns: 2;
    }
  }
}

@include respond-between(tablet, tablet-lg) {
  .wedding {
    &__body {
      &--first, &--second {
        flex-direction: column-reverse;
        align-items: center;
        .content {
          width: 82.5%;
        }
      }
      &--third {
        height: auto;
      }
      &--fourth {
        padding-top: 20vh;
      }
      &--fifth {
        padding-bottom: 0;
        .content {
          align-items: center;
          width: 87.5%;
          margin-bottom: 30px;
          p {
            width: 87.5%;
            margin: 0 auto;
          }
        }
      }
      &--sixth {
        .links {
          flex-direction: column;
        }
      }
    }
  }
  .lists {
    width: 97.5%;
    padding: 5px;
    ul {
      columns: 2;
    }
  }
}
