@import "../../../../styles/app";

.package-rate {
  justify-content: space-between;
  div:nth-of-type(1) {
    text-align: start;
    flex-basis: 70%;
    span {
      font-size: 1.3rem;
      font-weight: 600;
    }
    p {
      margin-top: 10px;
      font-size: 1rem;
    }
  }
  div:nth-of-type(2) {
    text-align: right;
    flex-basis: 30%;
    span {
      font-size: 1.5rem;
      font-weight: 600;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

@include respond-below(phone) {
  .package-rate {
    flex-direction: column;
    div:nth-of-type(2) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        display: none;
      }
    }
  }
}

@include respond-below(tablet) {
  .package-rate {
    div:nth-of-type(1) {
      span {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    div:nth-of-type(2) {
      span {
        font-size: 1.2rem;
        font-weight: 600;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
