@import '../../../../styles/app';

.accessible-room {
  &__body {
    &--first{
      justify-content: space-around;
      padding-bottom: 20vh;
    }
    &--second {
      justify-content: space-around;
    }
  }
  &__content {
    &--first {
      width: 37.5%;
    }
    &--second {
      width: 37.5%;
    }
  }
}

@include respond-below(phone) {
  .accessible-room {
    &__body--second {
      flex-direction: column-reverse;
    }
    &__content {
      &--first, &--second {
        width: 100%;
      }
    }
  }
}

@include respond-between(phone, tablet) {
  .accessible-room {
    &__body {
      &--first, &--second {
        align-items: center;
      }
      &--second {
        flex-direction: column-reverse;
      }
    }
    &__content {
      &--first, &--second {
        width: 90%;
      }
    }
  }
}

@include respond-between(tablet, tablet-lg) {
  .accessible-room {
    &__body {
      &--first, &--second {
        align-items: center;
      }
      &--second {
        flex-direction: column-reverse;
      }
    }
    &__content {
      &--first, &--second {
        width: 80%;
      }
    }
  }
}

@include respond-between(tablet-lg, desktop) {
  .accessible-room {
    &__content {
      &--first, &--second {
        width: 50%;
      }
    }
  }
}
