@import '../../styles/app';

.room {
  width: 100%;
  height: auto;
  margin-bottom: 15vh;
  justify-content: space-evenly;
  align-items: center;
  &--type {
    width: 35%;
    align-items: flex-start;
    ul {
      width: 250px;
      text-align: start;
      padding-left: 0;
      margin-bottom: 50px;
      li {
        list-style-type: none;
        font-size: 1.6rem;
        padding: 0;
        a {
          text-decoration: none;
          color: #3d405b;
          &:visited {
            color: #3d405b;
          }
        }
        &:hover {
          border-left: 5px solid #e07a5f;
          padding-left: 15px;
          cursor: pointer;
        }
      }
    }
  }
}
.carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 15vh;
  &__container {
    width: 100%;
    height: 100%;
  }
}
.dining {
  width: 100%;
  height: auto;
  margin-bottom: 15vh;
  justify-content: space-evenly;
  align-items: center;
  &__content {
    width: 37.5%;
  }
}
.spa {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 2vw;
  margin-bottom: 15vh;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: url("../../assets/images/background/Home/background-2.jpg") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  &__container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    &--slogan {
      width: 35%;
      height: 100%;
      h2 {
        font-size: 3.3rem;
        font-weight: bold;
        line-height: 3.5rem;
        width: 35vw;
        padding: 0 2.5vw;
        word-wrap: normal;
        text-align: start;
      }
    }
    &--content {
      width: 40%;
      height: 100%;
      padding: 0 2.5vw;
    }
  }
}
.events {
  width: 100%;
  margin-bottom: 15vh;
  &__body {
    justify-content: space-evenly;
    .content {
      width: 90%;
      margin: 0 auto;
    }
  }
  &__header {
    width: 65%;
    margin: 20px auto;
    h2, p {
      text-align: center;
    }
  }
  &__content {
    width: 35%;
    align-items: center;
  }
}
.offers {
  width: 100%;
  position: relative;
  margin-bottom: 15vh;
  &__body {
    justify-content: space-evenly;
    .content {
      width: 30%;
      align-items: center;
      p {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

@include respond-below(phone) {
  .room {
    &--type {
      width: 85%;
      margin: 0 auto;
      ul li {
        font-size: 1.3rem;
      }
    }
  }
  .carousel {
    display: none;
  }
  .dining {
    flex-direction: column-reverse;
    align-items: center;
    &__content {
      width: 85%;
    }
  }
  .spa {
    height: auto;
    &__container {
      &--slogan {
        width: 100%;
        height: auto;
        h2 {
          font-size: 1.6rem;
          width: 95%;
          margin: 0 auto;
          padding: 20px 0;
          text-align: center;
        }
      }
      &--content {
        width: 100%;
        height: auto;
        p {
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
  .events {
    &__header {
      width: 90%;
    }
    &__content {
      width: 90%;
      margin-bottom: 20px;
    }
  }
  .offers {
    &__body{
      .content {
        width: 95%;
        margin-bottom: 30px;
      }
    }
  }
}

@include respond-between(phone, tablet) {
  .room {
    &--type {
      width: 75%;
      margin: 0 auto;
      ul li {
        font-size: 1.4rem;
      }
    }
  }
  .carousel {
    display: none;
  }
  .dining {
    flex-direction: column-reverse;
    align-items: center;
    &__content {
      width: 75%;
    }
  }
  .spa {
    height: auto;
    &__container {
      &--slogan {
        width: 100%;
        height: auto;
        h2 {
          font-size: 1.9rem;
          width: 95%;
          margin: 0 auto;
          padding: 20px 0;
          text-align: center;
        }
      }
      &--content {
        width: 100%;
        height: auto;
        p {
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
  .events {
    &__header {
      width: 90%;
    }
    &__content {
      width: 75%;
      margin-bottom: 20px;
    }
  }
  .offers {
    &__body{
      .content {
        width: 87.5%;
        margin-bottom: 30px;
      }
    }
  }
}

@include  respond-between(tablet, tablet-lg) {
  .room {
    &--type {
      width: 72.5%;
      margin: 0 auto;
      ul li {
        font-size: 1.5rem;
      }
    }
  }
  .carousel {
    height: 45vh;
  }
  .spa {
    &__container {
      &--slogan {
        h2 {
          font-size: 2.8rem;
          line-height: 3.5rem;
          width: 95%;
          margin: 0 auto;
          padding: 20px 0;
        }
      }
      &--content {
        width: 55%;
        p {
          width: 100%;
        }
      }
    }
  }
  .events {
    &__header {
      width: 85%;
    }
    &__content {
      width: 75%;
      margin-bottom: 20px;
    }
  }
  .offers {
    &__body{
      .content {
        width: 82.5%;
        margin-bottom: 30px;
      }
    }
  }
}

@include respond-between(tablet, desktop) {
  .room {
    &--type {
      width: 30%;
    }
  }
}

@include ipad-pro-portrait(ipadpro-sm-w, ipadpro-sm-w) {
  .room {
    justify-content: space-evenly;
    .image-fluid.xl {
      height: 40vw;
      width: 40vw;
    }
    &--type {
      margin: unset;
      width: 40%;
    }
  }
  .dining {
    .image-fluid.xl {
      height: 40vw;
      width: 40vw;
    }
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    &__content {
      width: 40%;
    }
  }
  .spa {
    height: 57.5vh;
    &__container {
      &--slogan {
        width: 40%;
        h2 {
          text-align: start;
        }
      }
      &--content {
        width: 55%;
        height: auto;
        p {
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
  .events {
    &__header {
      width: 80%;
    }
    &__content {
      width: 50%;
      margin-bottom: 20px;
    }
  }
  .offers {
    &__body{
      .content {
        width: 50%;
      }
    }
  }
  .carousel {
    display: block;
    height: 45vh;
  }
}

@include ipad-pro-landscape(ipadpro-sm-h, ipadpro-sm-h) {
  .room {
    justify-content: space-evenly;
    .image-fluid.xl {
      height: 42.5vw;
      width: 42.5vw;
    }
    &--type {
      margin: unset;
      width: 40%;
    }
  }
  .dining {
    .image-fluid.xl {
      height: 42.5vw;
      width: 42.5vw;
    }
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    &__content {
      width: 40%;
    }
  }
  .spa {
    height: 60vh;
  }
  .events {
    &__header {
      width: 80%;
    }
    &__content {
      width: 50%;
      margin-bottom: 20px;
    }
  }
  .offers {
    &__body{
      .content {
        width: 50%;
      }
    }
  }
  .carousel {
    display: block;
    height: 80vh;
  }
}

@include ipad-pro-portrait(ipadpro-md-w, ipadpro-md-w) {
  .room {
    justify-content: space-evenly;
    .image-fluid.xl {
      height: 42.5vw;
      width: 42.5vw;
    }
    &--type {
      margin: unset;
    }
  }
  .carousel {
    height: 45vh;
  }
  .dining {
    .image-fluid.xl {
      height: 42.5vw;
      width: 42.5vw;
    }
  }
  .spa {
    height: 50vh;
  }
  .events {
    &__content {
      width: 50%;
    }
  }
  .offers {
    &__body{
      .content {
        width: 50%;
      }
    }
  }
}

@include ipad-pro-portrait(ipadpro-lg-w, ipadpro-lg-w) {
  .room {
    justify-content: space-evenly;
    .image-fluid.xl {
      height: 40vw;
      width: 40vw;
    }
    &--type {
      margin: unset;
    }
  }
  .carousel {
    height: 45vh;
  }
  .dining {
    .image-fluid.xl {
      height: 40vw;
      width: 40vw;
    }
  }
  .spa {
    height: 50vh;
  }
  .events {
    &__content {
      width: 50%;
    }
  }
  .offers {
    &__body{
      .content {
        width: 50%;
      }
    }
  }
}
