@import '../../styles/app';

.home {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  &__slogan {
    width: 100%;
    align-items: center;
    justify-content: center;
    &--icon {
      width: 80px;
      height: 80px;
      margin-bottom: 50px;
    }
    &--content {
      & h1{
        font-size: 2.3rem;
        font-weight: 700;
        margin-bottom: 5px;
      }
      & p{
        font-size: 1.3rem;
        text-wrap: normal;
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}
.room {
  width: 100%;
  height: auto;
  margin-bottom: 15vh;
  justify-content: space-evenly;
  align-items: center;
  &--image {
    width: 35%;
    height: 450px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
  &--type {
    width: 35%;
    align-items: flex-start;
    & ul {
      width: 250px;
      text-align: start;
      padding-left: 0;
      margin-bottom: 50px;
      & li {
        list-style-type: none;
        font-size: 1.6rem;
        padding: 0;
        & a {
          text-decoration: none;
          color: #3d405b;
          &:visited {
            color: #3d405b;
          }
        }
        &:hover {
          border-left: 5px solid #e07a5f;
          padding-left: 15px;
          cursor: pointer;
        }
      }
    }
    .room--link {
      font-size: 1.3rem;
      font-weight: 700;
      margin-right: 20px;
      text-decoration: none;
      position: relative;
      color: #e07a5f;
      &:visited {
        color: #e07a5f;
      }
      &:hover:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #e07a5f;
      }
    }
  }
}
.carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 15vh;
  &__container {
    width: 100%;
    height: 100%;
  }
}
.dining {
  width: 100%;
  height: auto;
  margin-bottom: 15vh;
  justify-content: space-evenly;
  &__content {
    width: 37.5%;
  }
  &__image {
    width: 35%;
    height: 450px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
  & button {
    margin: 40px auto;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid #3d405b;
    border-radius: 5px;
    & a {
      font-family: inherit;
      font-weight: 600;
      font-size: 1rem;
      color: #3d405b;
      text-decoration: none;
      letter-spacing: 3px;
      &:visited {
        color: #3d405b;
      }
    }
    &:hover {
      background-color: #3d405b;
      cursor: pointer;
      & a {
        color: #ffffff;
      }
    }
  }
}
.spa {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 2vw;
  margin-bottom: 15vh;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: url("../../assets/images/background/Home/background-2.jpg") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    //filter: blur(1.5px) opacity(0.95);
  }
  &__container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    &--slogan {
      width: 35%;
      height: fit-content;
      & h1 {
        font-size: 3.3rem;
        font-weight: bold;
        line-height: 3.5rem;
        color: #ffffff;
        width: 35vw;
        padding: 0 2.5vw;
        text-wrap: normal;
        text-align: start;
      }
    }
    &--content {
      width: 40%;
      height: fit-content;
      padding: 0 2.5vw;
      color: #ffffff;
      & button {
        margin: 20px auto;
        padding: 20px 80px;
        background-color: transparent;
        border: 2px solid #ffffff;
        border-radius: 5px;
        & a {
          font-family: inherit;
          font-weight: 600;
          font-size: 1rem;
          color: #ffffff;
          text-decoration: none;
          letter-spacing: 3px;
          &:visited {
            color: #ffffff;
          }
        }
        &:hover {
          background-color: #ffffff;
          cursor: pointer;
          & a {
            color: #3d405b;
          }
        }
      }
    }
  }
}
.events {
  width: 100%;
  margin-bottom: 15vh;
  &__body {
    justify-content: space-evenly;
    .image {
      width: 95%;
      height: 450px;
      margin: 20px auto;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    .content {
      width: 90%;
      margin: 0 auto;
      & a {
        font-size: 1.3rem;
        color: #3d405b;
        &:visited {
          color: #3d405b;
        }
      }
    }
  }
  &__header {
    width: 65%;
    margin: 20px auto;
    & h1, p {
      text-align: center;
    }
  }
  &__content {
    width: 35%;
    align-items: center;
  }
}
.offers {
  width: 100%;
  position: relative;
  margin-bottom: 15vh;
  &__header {
    & a {
      font-size: 1.3rem;
      margin: 15px auto;
      &:visited {
        color: #3d405b;
      }
    }
  }
  &__body {
    justify-content: space-evenly;
    .content {
      width: 30%;
      align-items: center;
      & p {
        width: 90%;
        margin: 0 auto;
      }
      .image {
        width: 85%;
        height: 325px;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
        }
      }
    }
  }
}

@include respond-below(phone) {
  .home__slogan--content {
    & h1 {
      font-size: 2rem;
    }
    & p {
      width: 90%;
    }
  }
  .room {
    &--image {
      width: 90%;
      height: 350px;
      margin-bottom: 20px;
    }
    &--type {
      width: 85%;
      margin: 0 auto;
      & ul li {
        font-size: 1.3rem;
      }
    }
  }
  .carousel {
    display: none;
  }
  .dining {
    flex-direction: column-reverse;
    align-items: center;
    &__content {
      width: 85%;
    }
    &__image {
      width: 90%;
      height: 350px;
      margin-bottom: 20px;
    }
  }
  .spa {
    height: auto;
    &__container {
      &--slogan {
        width: 100%;
        & h1 {
          font-size: 1.6rem;
          width: 95%;
          margin: 0 auto;
          padding: 20px 0;
          text-align: center;
        }
      }
      &--content {
        width: 100%;
        height: auto;
        & p {
          width: 90%;
          margin: 0 auto;
        }
        & button {
          padding: 10px 40px;
          margin-bottom: 30px;
        }
      }
    }
  }
  .events {
    &__header {
      width: 90%;
    }
    &__content {
      width: 90%;
      margin-bottom: 20px;
    }
    &__body {
      .image {
        height: 350px;
      }
    }
  }
  .offers {
    &__body{
      .content {
        width: 95%;
        margin-bottom: 30px;
      }
    }
  }
}

@include respond-between(phone, tablet) {
  .home__slogan--content {
    & p {
      width: 85%;
    }
  }
  .room {
    &--image {
      width: 85%;
      height: 325px;
      margin-bottom: 20px;
    }
    &--type {
      width: 75%;
      margin: 0 auto;
      & ul li {
        font-size: 1.4rem;
      }
    }
  }
  .carousel {
    display: none;
  }
  .dining {
    flex-direction: column-reverse;
    align-items: center;
    &__content {
      width: 75%;
    }
    &__image {
      width: 85%;
      height: 325px;
      margin-bottom: 20px;
    }
  }
  .spa {
    height: auto;
    &__container {
      &--slogan {
        width: 100%;
        & h1 {
          font-size: 1.9rem;
          width: 95%;
          margin: 0 auto;
          padding: 20px 0;
          text-align: center;
        }
      }
      &--content {
        width: 100%;
        height: auto;
        & p {
          width: 90%;
          margin: 0 auto;
        }
        & button {
          padding: 10px 40px;
          margin-bottom: 30px;
        }
      }
    }
  }
  .events {
    &__header {
      width: 90%;
    }
    &__content {
      width: 75%;
      margin-bottom: 20px;
    }
    &__body {
      .image {
        height: 325px;
      }
    }
  }
  .offers {
    &__body{
      .content {
        width: 87.5%;
        margin-bottom: 30px;
        .image {
          height: 275px;
        }
      }
    }
  }
}

@include  respond-between(tablet, tablet-lg) {
  .room {
    &--image {
      width: 75%;
      height: 325px;
      margin-bottom: 20px;
    }
    &--type {
      width: 72.5%;
      margin: 0 auto;
      & ul li {
        font-size: 1.5rem;
      }
    }
  }
  .carousel {
    height: auto;
  }
  .spa {
    &__container {
      &--slogan {
        & h1 {
          font-size: 2.8rem;
          line-height: 3.5rem;
          width: 95%;
          margin: 0 auto;
          padding: 20px 0;
        }
      }
      &--content {
        width: 55%;
        & p {
          width: 100%;
        }
        & button {
          padding: 15px 50px;
        }
      }
    }
  }
  .events {
    &__header {
      width: 85%;
    }
    &__content {
      width: 75%;
      margin-bottom: 20px;
    }
    &__body {
      .image {
        height: 325px;
      }
    }
  }
  .offers {
    &__body{
      .content {
        width: 82.5%;
        margin-bottom: 30px;
        .image {
          height: 300px;
        }
      }
    }
  }
}

@include respond-between(tablet, desktop) {
  .room {
    &--image {
      width: 45%;
      height: 450px;
    }
    &--type {
      width: 30%;
    }
  }
  .events__body {
    .image {
      height: 375px;
    }
  }
  .offers {
    &__body{
      .content {
        width: 67.5%;
        margin-bottom: 30px;
      }
    }
  }
}
