@import '../../../styles/app';

.content {
  width: 30%;
  padding-bottom: 10vh;

  .context {
    width: 100%;
    margin: 5px auto;
    p {
      padding-bottom: 20px;
    }
  }
}

.image-fluid:hover {
  transform: scale(1.05);
  transition: .3s ease-in-out;
}

@include respond-below(phone) {
  .content {
    width: 100%;
  }
}

@include respond-between(phone, tablet-lg) {
  .content {
    width: 100%;
    .context {
      width: 85%;
    }
  }
}

