@import '../../styles/app';

.dinning {
  .body {
    justify-content: space-evenly;
    padding: 10vh 0;
  }
  .body.flex--row {
    p {
      width: 87.5%;
    }
  }
  .content.flex--column {
    align-items: center;
    justify-content: flex-start;
    h4 {
      text-align: center;
      margin: 10px 0;
    }
    p {
      margin: 0 auto;
    }
  }
}
.content {
  width: 45%;
}
.reverse {
  flex-direction: row-reverse;
}

@include respond-below(phone) {
  .content {
    width: 100%;
    margin-bottom: 20px;
  }
}

@include respond-between(phone, tablet) {
  .content {
    width: 90%;
    margin-bottom: 20px;
  }
}

@include respond-between(tablet, tablet-lg) {
  .content {
    width: 80%;
    margin-bottom: 20px;
  }
  .feature-group .content {
    width: 47.5%;
  }
}
