nav {
  position: relative;
  width: 100%;
  height: 10vh;
  padding: 20px 5vw;
  .nav {
    &__container {
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      & h1 {
        font-size: 2rem;
      }
    }
    &__link {
      & ul {
        list-style-type: none;
        & li {
          padding: 0 10px;
          font-size: 1.2rem;
          font-weight: 600;
          & a {
            text-decoration: none;
            &:visited {
              color: #3d405b;
            }
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
